<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boyaca360°</title>
  <link href="{% static 'css/boilerplate.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/css.css' %}" rel="stylesheet" type="text/css">
  <style type="text/css">

  }
</style>
<!-- 
Para obtener más información sobre los comentarios condicionales situados alrededor de las etiquetas html en la parte superior del archivo:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
  
Haga lo siguiente si usa su compilación personalizada de modernizr (http://www.modernizr.com/):
* inserte el vínculo del código js aquí
* elimine el vínculo situado debajo para html5shiv
* añada la clase "no-js" a las etiquetas html en la parte superior
* también puede eliminar el vínculo con respond.min.js si ha incluido MQ Polyfill en su compilación de modernizr 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="css/respond.min.js"></script>
<script src="css/responsive-tables.js"></script>

</head>
<body>




  <div class="leyva" id="apDiv13">
    <a href="#inicio1">
      <div id="menu2">Inicio</div>
      <a href="#contenido1">
        <div id="menu3">Acerca de</div>
        <a href="#footer2">
          <div id="menu4">Descarga</div>
          <div id="logos"><img src="static/imgs/login-01.png"></div>
          <div id="logos2"><img src="static/imgs/logo t-01.png"></div>
          <div id="logo3"><img src="static/imgs/creemos-01.png"></div>



          <a id="inicio1"></a><img src="static/imgs/inidio-04.png"><a id="contenido1"></a>

          
      </div>
      <div id="cont"><img src="static/imgs/cl-05.png"></div>
      <div id="texto1">
          <div align="justify">Boyacá 360° es un proyecto encaminado
            a buscar la comodidad de los usuarios,
            ofreciéndoles una alternativa digital
            que permita conocer los diferentes
            sitios turísticos del departamento.
            Esta aplicación brindará información
            de interés para los usuarios amantes
            del turismo, como lo son las ubicaciones
            de los diferentes destinos, fotografías
            y videos en 360 grados para apreciar
            de manera detallada los diferentes
            atractivos de la región, además el
            usuario podrá interactuar y compartir
            contenidos de su interés a través de su
            perfil.<br>
            Esta iniciativa es una apuesta del
            Gobierno Departamental para mejorar
            el turismo en la región, dándole visibilidad
            a muchos destinos en Boyacá que
            por falta de difusión aun no son explorados. </div>
        </div>
        <div id="contenido"><img src="static/imgs/app5-01-01.png"></div>
        <div id="contenidodes"><img src="static/imgs/360gafas.png"></div>
        <div id="texto2">
            <div align="center">DISFRUTA DEL MEJOR CONTENIDO DESDE LA COMODIDAD DE TU CELULAR Y DALE UN GIRO A LA AVENTURA </div>
        </div>
    </div>
    <p><img src="static/imgs/app4-01.png">
      <div id="footer">
        <a name ="Footer2" id="footer2"></a></p>
    </body>
    </html>
