<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
{% load static %}

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Boyaca360°</title>

  <link href="{% static 'css/boilerplate.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/css.css' %}" rel="stylesheet" type="text/css">
<style type="text/css">

}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #666666;
}
a:hover {
	text-decoration: none;
	color: #666;
}
a:active {
	text-decoration: none;
}
a {
	font-family: CaviarDreams, "CaviarDreams Bold";
	color: #666;
}
</style>
<!-- 
Para obtener más información sobre los comentarios condicionales situados alrededor de las etiquetas html en la parte superior del archivo:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
  
Haga lo siguiente si usa su compilación personalizada de modernizr (http://www.modernizr.com/):
* inserte el vínculo del código js aquí
* elimine el vínculo situado debajo para html5shiv
* añada la clase "no-js" a las etiquetas html en la parte superior
* también puede eliminar el vínculo con respond.min.js si ha incluido MQ Polyfill en su compilación de modernizr 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="css/respond.min.js"></script>
<script src="css/responsive-tables.js"></script>
	
</head>
<body>



<div id="menuss"><p><style> 
<!-- 
a:hover{text-decoration:none;} 
a{text-decoration:none;} 
--> 
</style>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#inicio02">Inicio&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
  <a href="#sobre360"> Acerca de&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 
  <a href="#footer2">Descarga</div>


<a id="inicio02"></a></div>
<div id="inicio1"><img src="static/imgs/elementos-03-03.png" width="1400">
</div>

<div id="cont">
  <div align="center"><img src="static/imgs/cl-05.png" width="219" height="286"></div>
</div>
<div id="texto1">
  <div align="justify">
    <p><strong>Boyacá 360°</strong> es un proyecto encaminado
      a buscar la comodidad de los usuarios,
      ofreciéndoles una alternativa digital
      que permita conocer los diferentes
      sitios turísticos del departamento.
      Esta aplicación brindará información
      de interés para los usuarios amantes
      del turismo, como lo son las ubicaciones
      de los diferentes destinos, fotografías
      y videos en 360 grados para apreciar
      de manera detallada los diferentes
      atractivos de la región, además el
      usuario podrá interactuar y compartir
      contenidos de su interés a través de su
      perfil.<br>
      Esta iniciativa es una apuesta del
      Gobierno Departamental para mejorar
      el turismo en la región, dándole visibilidad
      a muchos destinos en Boyacá que
      por falta de difusión aun no son explorados. </p>
  <a id="sobre360"></a>  </div>
</div>
<div id="contenido"> 
  <div align="center"><img src="static/imgs/cel1-04.png" width="302" height="312"><img src="static/imgs/cel1-03fd.png" width="303" height="314"><img src="static/imgs/cel5-03.png" width="310" height="320"></div>
</div>
<div id="gafas360"><img src="static/imgs/360gafas.png"></div>
<div id="texto2">
  <div align="left">DISFRUTA DEL MEJOR CONTENIDO DESDE LA COMODIDAD DE TU CELULAR Y DALE UN GIRO A LA AVENTURA </div>
</div>


  <div id="footer">
    <p align="center"><a name ="Footer2" id="footer2"></a> <strong>DESCARGÁLO YA</strong></p>
  <p align="center"><a href="https://play.google.com/store?hl=es"><img src="static/imgs/w-01.png" width="139" height="37"></a><a href="https://www.apple.com/itunes/"><img src="static/imgs/ios-01.png" width="133" height="37"></a></p>
  </div>
</body>
</html>
