
{% load static %}


 <link rel="stylesheet" href="{% static 'css/stylesheets.css' %}">


<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="{% static 'imgs/uso2.png' %}" width="380" 
                 className="img-circle" alt="User Image" />
        </div>
        <div class="login-box-body plogin">
            <form  method="POST" action="/" >
                {% csrf_token %} 
                <div class="form-group has-feedback">
                    <input id="email" autofocus name="username" type="text" 
                        class="form-control" placeholder="Email" required >
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-12"></div>
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-success btn-block btn-flat" name="action"> <i class="fa fa-unlock" aria-hidden="true"></i> Recuperar </button>
                    </div>
                </div>
            </form>
            <!-- <a href="#">Recordar contraseña</a><br> -->
        </div>
    </div>
</body>