@charset "utf-8";
@import url("../webfonts/CaviarDreams/stylesheet.css");

/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
	width:100%;
}

/*
	Propiedades de cuadrícula fluida de Dreamweaver
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiración obtenida de "Responsive Web Design" de Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	y Golden Grid System de Joni Korpi
	http://goldengridsystem.com/
*/

/* Diseño móvil: 480 px e inferior. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+0 */
background: #f0b7a1; /* Old browsers */
background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 0%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 0%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#8c3310',GradientType=0 ); /* IE6-9 */
}
#contenido {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav2 {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}
#icono {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}
#contenido2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#boton2 {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}
#menudescarga {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}
#bra {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#menu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#manu1 {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}
#menu2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 16.6666%;
	display: block;
	font-size: 12px;
}
#menu3 {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 16.6666%;
	display: block;
	font-size: 12px;
}
#menu4 {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 16.6666%;
	display: block;
	font-size: 12px;
}
#contenidodes {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#texto1 {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}
#cont {
	clear: both;
	float: left;
	margin-left: 20.8333%;
	width: 79.1666%;
	display: block;
}
#texto2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#heard {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#pantalla {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}
#logos {
	clear: both;
	float: left;
	margin-left: 0;
	width: 16.6666%;
	display: block;
}
#logos2 {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 16.6666%;
	display: block;
}
#logo3 {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 16.6666%;
	display: block;
}
#centro {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}

/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: auto;
	font-family: "Lucida Console", Monaco, monospace;
}
#contenido {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#icono {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 87.1794%;
	display: block;
}
#contenido2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#boton2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#menudescarga {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#bra {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#menu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#manu1 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#menu2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 10.2564%;
	display: block;
	font-family: CaviarDreams, "CaviarDreams Bold";
}
#menu3 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 10.2564%;
	display: block;
	font-family: CaviarDreams, "CaviarDreams Bold";
}
#menu4 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
	font-family: CaviarDreams, "CaviarDreams Bold";
}
#contenidodes {
	clear: none;
	float: left;
	margin-left: 28.2051%;
	width: 61.5384%;
	display: block;
}
#texto1 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
	padding: 10px;
}
#cont {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#texto2 {
	clear: none;
	float: left;
	margin-left: 15.3846%;
	width: 61.5384%;
	display: block;
}
#heard {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#pantalla {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#logos {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 10.2564%;
	display: block;
}
#logos2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 10.2564%;
	display: block;
}
#logo3 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 10.2564%;
	display: block;
}
#centro {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	
	
	
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 18.3673%;
	display: block;
	background-color: rgb(58,41,23);
	font-family: CaviarDreams, "CaviarDreams Bold";
	color: rgb(255,255,255);
	font-size: 24px;
	font-weight: 200;
	background-position: left;
	
	
}
#contenido {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav2 {
	clear: none;
	float: left;
	margin-left: 32.653%;
	width: 100%;
	display: block;
}
#icono {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 100%;
	display: block;
}
#contenido2 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 100%;
	display: block;
}
.leya {
	background-image: url(../imgs/villa-de-leyva-boyaca.jpg);
}
.texto {
	font-family: CaviarDreams, "CaviarDreams Bold";
	font-size: 25px;
	color: rgb(51,51,51);
	padding-top: 80px;
	letter-spacing: normal;
	word-spacing: normal;
	border-top-style: 30;
	
	
	
	
}
.leyva {

}

.textin {
	font-family: CaviarDreams, "CaviarDreams Bold";
	font-size: 25px;
	color: rgb(153,153,153);
}

#bra {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#menu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


#manu1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 8.1632%;
	display: block;
	font-family: CaviarDreams, "CaviarDreams Bold";
	font-size: 16px;
	padding: 15px;
}

#menu2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 8.1632%;
	display: block;
	font-family: CaviarDreams, "CaviarDreams Bold";
	font-size: 16px;
	clip: rect(auto,auto,auto,auto);
	padding: 15px;
	color: rgb(102,102,102);
}

#menu3 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 8.1632%;
	display: block;
	font-family: CaviarDreams, "CaviarDreams Bold";
	font-size: 16px;
	padding: 15px;
	color: rgb(102,102,102);
}

#menu4 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
	font-family: CaviarDreams, "CaviarDreams Bold";
	font-size: 16px;
	padding: 15px;
	color: rgb(102,102,102);
}

#contenidodes {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}

#texto1 {
	clear: none;
	float: left;
	margin-left: 12.2448%;
	width: 48.9795%;
	display: block;
	padding-top:70px;
	padding-left:40px;
	padding-right:40px;
	border-width:medium;
	margin:inherit;
}



#cont {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}

#texto2 {
	clear: none;
	float: left;
	margin-left: 12.2448%;
	width: 38.7755%;
	display: block;
	border-top-style: 25;
	margin: inherit;
	padding-top: 100px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 30px;
	margin-bottom: auto;
}


#heard {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#pantalla {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}

.table-container {
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

#logos {
    clear: none;
    float: left;
    margin-left: 2.0408%;
    width: 8.1632%;
    display: block;
}

#logos2 {
    clear: none;
    float: left;
    margin-left: 2.0408%;
    width: 8.1632%;
    display: block;
}

#logo3 {
    clear: none;
    float: left;
    margin-left: 2.0408%;
    width: 8.1632%;
    display: block;
}

#centro {
    clear: none;
    float: left;
    margin-left: 2.0408%;
    width: 28.5714%;
    display: block;
}
.table-container::-webkit-scrollbar
{
-webkit-appearance: none;
width: 14px;
height: 14px;
}
 
.table-container::-webkit-scrollbar-thumb
{
border-radius: 8px;
border: 3px solid #fff;
background-color: rgba(0, 0, 0, .3);
}
