<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Administrador | Boyacá en 360 </title>
    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css'  %}  " rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css'  %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css'  %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.min.css'  %}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-trello"></i> <span>Boyacá en 360</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{% static 'imgs/Favicon-01.png' %} " alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>{{ request.user.first_name }} </h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li ><a href="/panelAdmin"><i class="fa fa-file-image-o"></i></i> Publicaciones <span class="fa fa-chevron-down"></span></a>
                    
                  </li>
                  <li><a href="/usuariosAdmin" ><i class="fa fa-users"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
                     
                  </li>
                  <li><a href="/publicarAdmin" ><i class="fa fa-bullhorn"></i> Publicar <span class="fa fa-chevron-down"></span></a>
                     
                  </li>

                   <li><a href="/reportadoAdmin" ><i class="fa fa-info-circle"></i> Reportado <span class="fa fa-chevron-down"></span></a>
                     
                  </li>
                </ul>
              </div>


            </div>
            <!-- /sidebar menu -->

             
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'imgs/Favicon-01.png' %} " alt="">{{ request.user.first_name }} 
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Usuarios Administradores</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50</span>
                        <span>Reportado</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Contactar soporte</a></li>
                    <li><a href="/salir"><i class="fa fa-sign-out pull-right"></i> Salir</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">{{reportado}}</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
 
 {% for rep in reportados %}
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>{{rep.user_report.user.first_name}}</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          {{ rep.post_reported.description}}
                        </span>
                      </a>
                    </li>
{% endfor %}
                     
                 
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>Ver todos los reportes</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        
        {% block contenido %}{% endblock %}

        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Virtual Scenes SAS<a href="https://colorlib.com"> - Boyacá en 360  </a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %} "></script>
  </body>
</html>
