

    {% extends 'baseadmin.html' %}
    {% block contenido %}
    {% load static %}





    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Agregar Publicaciones</h3>
        </div>


    </div>




    <div class="clearfix">
        

    </div>




    <div class="row"> 

    {% if mensaje %}
       <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <strong>{{mensaje}}
      </div>
    {% endif %}

      <div class="col-md-6 col-xs-12">

         <div class="x_panel">
          <div class="x_title">
            <h2>Agregar Fotos <small>different form elements</small></h2>
            
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left" action="/guardarFoto/" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <textarea class="form-control" name="description" rows="3" placeholder='Reseña' required></textarea>
              </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputFile">File</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="file" id="exampleInputFile" required name="url_image">
                <p class="help-block">Adjuntar Archivo .jpg .png .jpeg</p>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo Foto</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" required name="type_post" >
                <option disabled selected value>Seleccione Tipo Foto</option>

                <option value="PH">Foto</option>
                <option value="P3">Foto 360</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lugar</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <select class="select2_single form-control" tabindex="-1" required name="place">
            <option disabled selected value>Seleccione Lugar</option>
            {% for lugar in lugares %}
            <option value="{{lugar.pk}}">{{lugar.name}}</option>
            {% endfor %}
        </select>
    </div>
    </div>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <button type="button" class="btn btn-primary">Cancel</button>
          <button type="reset" class="btn btn-primary">Reset</button>
          <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>

    </form>
    </div>
    </div>

    </div>


    <!-- inicio columna  -->
    <div class="col-md-6 col-xs-12">



      <div class="x_panel">
          <div class="x_title">
            <h2>Agregar Videos <small>different form elements</small></h2>
           
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br />
        <form class="form-horizontal form-label-left" action="/guardarVideo/" method="POST">
                {% csrf_token %} 


          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción <span class="required">*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea class="form-control" rows="3" placeholder='Reseña' name="description" ></textarea>
          </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Url Youtube</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder='Ejemplo: xy1RtfUg0P8'  name="url_video">
      </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo Video</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <select class="form-control" name="type_post">
            <option disabled selected value>Seleccione Tipo de Video</option>
            <option value="VI">Video</option>
            <option value="V3">Video 360</option>
        </select>
    </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lugar</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <select class="select2_single form-control" tabindex="-1" required name="place">
            <option disabled selected value>Seleccione Lugar</option>
            {% for lugar in lugares %}
            <option value="{{lugar.pk}}">{{lugar.name}}</option>
            {% endfor %}
        </select>
    </div>
    </div>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <button type="button" class="btn btn-primary">Cancel</button>
          <button type="reset" class="btn btn-primary">Reset</button>
          <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>

    </form>
    </div>
    </div>



    <!--  fin columna  -->
    </div>


    </div>

    </div>
    </div>
    <!-- /page content -->

    {% endblock %} 