

{% extends 'baseadmin.html' %}
{% block contenido %}
    {% load static %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Todas las pubicaciones {{filtro}}</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Filtro Lugar</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <select class="select2_single form-control" tabindex="-1" required name="place" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            <option disabled selected value>Seleccione Lugar</option>
            {% for lugar in lugares %}
            <option value="/panelAdminFiltro/{{lugar.pk}}/">{{lugar.name}}</option>
            {% endfor %}
        </select>
    </div>
    </div>

                </div>
              </div>
            </div>

            <div class="clearfix"></div>
                {% if mensaje %}
       <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <strong>{{mensaje}}
      </div>
    {% endif %}

            <div class="row">
            {% for post in posts %}
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2> <a href="/detalleusuario/{{post.user.pk}}"> {{post.user.user.first_name}} {{post.user.user.last_name}} </a><small> 

                            {% if post.type_post == 'PH' %}
                              Foto 
                              {% elif post.type_post == 'P3' %}
                              Foto 360
                              {% elif post.type_post == 'VI' %}
                              Video
                              {% elif post.type_post == 'V3' %}
                              Video 360
                            {% endif %}
                       </small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <!-- <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li> -->
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/eliminarPublicacion/{{post.pk}}">Eliminar Publicación</a>
                            </li>
                            <!-- <li><a href="#">Settings 2</a> -->
                            </li>
                          </ul>
                        </li>
                        <!-- <li><a class="close-link"><i class="fa fa-close"></i></a> -->
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    

                  
                    <div class="x_content">

                      <div class="bs-example" data-example-id="simple-jumbotron">

                        {{ post.description }}
                        <div class="jumbotron">
                        {% if post.type_post == 'PH' or post.type_post == 'P3'  %}
                          <img src="{% get_media_prefix %}{{ post.url_image }}" width="100%" height="200px">

                        {% elif post.type_post == 'VI' or post.type_post == 'V3'  %}

                        <iframe width="100%" height="195px" src="https://www.youtube.com/embed/{{post.url_video}}" frameborder="0" allowfullscreen></iframe>
                        {% endif %}



                        </div>
                      </div>

                    </div>
                  </div>
                </div>

            {% endfor %}

            <!-- end row  -->
            </div>


          </div>
        </div>
        <!-- /page content -->

{% endblock %} 