
{% extends 'baseadmin.html' %}
{% block contenido %}
    {% load static %}


       <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Publicaciones Reportadas  </h3>
              </div>

             
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="clearfix"></div>

              <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Listado  </h2>
                 
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">


                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                           
                            <th class="column-title">Usuario Reporta </th>
                            <th class="column-title">Usuario Publica</th>
                            {# <th class="column-title">Ver</th> #}
                            <th class="column-title">Eliminar </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                        {% for reportado  in reportados %}
                          <tr class="even pointer">
                            <td class=" ">{{reportado.user_report.user.first_name}}</td>
                            <td class=" ">{{ reportado.post_reported.user.user.first_name }}</td>
                            {# <td class=" "><i class="fa fa-search"></i></td> #}
                            <td class=" "> <a     data-toggle="modal" data-target="#myModal{{reportado.post_reported.pk}}">
  <i class="fa fa-trash"></i>
</a></td>

                            </td>
                          </tr>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal{{reportado.post_reported.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Publicación Reportada</h4>
      </div>
      <div class="modal-body">
<p>{{reportado.post_reported.description}}</p> 

        {% if reportado.post_reported.type_post == 'PH' or reportado.post_reported.type_post == 'P3'  %}
          <img src="{% get_media_prefix %}{{ reportado.post_reported.url_image }}" width="100%" height="200px">

        {% elif reportado.post_reported.type_post == 'VI' or reportado.post_reported.type_post == 'V3'  %}

        <iframe width="100%" height="195px" src="https://www.youtube.com/embed/{{reportado.post_reported.url_video}}" frameborder="0" allowfullscreen></iframe>
        {% endif %}




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ignorar</button>
        <a type="button" class="btn btn-danger"  href="/eliminarPost/{{reportado.post_reported.pk}}"  >Borrar</a>
      </div>
    </div>
  </div>
</div>



                        {% endfor %}
                          
                        </tbody>
                        
                      </table>
                    </div>
              
            
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


{% endblock %} 
