
{% extends 'baseadmin.html' %}
{% block contenido %}
    {% load static %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Todas las pubicaciones</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Lugar">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Buscar!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
            {% for profile in profiles %}
             <a href="/detalleusuario/{{profile.pk}}">
                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details" style="height: 240px;">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i> <i class=" fa fa-map-marker"></i> Boyacá en 360</i></h4>
                            <div class="left col-xs-7">
                              <h2>{{profile.user.first_name}}</h2>
                              <p> {{profile.user.last_name}}</p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-envelope"></i> Correo: {{profile.user.email}} </li>
                                <li><i class="fa fa-phone"></i> Phone : {{profile.phone}} </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="{% get_media_prefix %}{{profile.url_image_profile}}"  width="100px"     style="    height: 100px; width: 100%; " alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                            <div class="col-xs-12 col-sm-6 emphasis">
                               
                            </div>
                            <div class="col-xs-12 col-sm-6 emphasis">
                              <a href="/eliminarUsuario/{{profile.user.pk}}" class="btn btn-danger btn-xs"> <i class="fa fa-user">
                                </i> <i class="fa fa-trash-o"></i> </a>
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"> </i> Perfil
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
</a>
            {% endfor %}

            <!-- end row  -->
            </div>


          </div>
        </div>
        <!-- /page content -->
{% endblock %} 
